.classpath
.project
.settings
target
out
logs
*.log
*.swp
node_modules
.idea

*.sublime-project
*.sublime-workspace
/.externalToolBuilders/

.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/

# *.bat
*.iml
