registry=https://registry.npmmirror.com/
@netease:registry=http://rnpm.hz.netease.com/
@youdata:registry=http://rnpm.hz.netease.com/
@music:registry=http://rnpm.hz.netease.com/
@cloudmusic-desktop:registry=http://rnpm.hz.netease.com/
@dawn:registry=http://rnpm.hz.netease.com/
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs
sentrycli_cdnurl=http://npmmirror.com/mirrors/sentry-cli
chromedriver_cdnurl=http://npmmirror.com/mirrors/chromedriver
operadriver_cdnurl=http://npmmirror.com/mirrors/operadriver
fsevents_cdnurl=http://npmmirror.com/mirrors/fsevents
electron_mirror=https://npmmirror.com/mirrors/electron/